<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 Adaframe - Oi?</title>
    <link rel="icon" type="image/x-icon" href="./source/favicon.png">
    <link href="./styles/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
    
    <div class="centerView">
        <div class="expandFit"></div>
        <h1>404</h1>
        <h6 style="opacity: 0.5;">Adaframe</h6>
        <a href="/frames"><button class="pyBt">Home</button></a>
    </div>
</body>
</html>