<!-- templates/editar_perfil.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Profile</title>
    <link href="static/styles/style.css" rel="stylesheet" type="text/css" />
</head>
<body class="defBack">
    <div class="todoView horizontalDynamic">
        <div class="maxmax darkenBack">
            <div class="verticalScroll">
                <div class="standPanel">
                    <img class="iconTitle" src="static/source/AdaframeLogoWhite.png" style="height: 64px;">
                    <h1 style="margin-bottom: 16px;">Editar perfil</h1>
    
                    
    
                    {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                            {% for category, message in messages %}
                                <span class="infoText {{ 'okInfo' if category == 'success' else 'errInfo' }}">{{ message }}</span>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                    
                    <div class="form-group">
                        
                        <img src="data:image/jpeg;base64,{{ user_data.profile_picture }}" alt="Current Profile Picture" class="preview-image">
                        <label for="current-profile-picture">Foto de perfil atual</label>
                    </div>

                    <span class="discretDivider"></span>

                    <form method="post" action="/editar_perfil" enctype="multipart/form-data">
                        {{ form.csrf_token }}

                        <div class="form-group">
                            {{ form.profile_picture.label(class="labelPc form-control-label") }}
                            <img id="previewImage" class="preview-image hideElement" src="" alt="Preview">
                            <div class="inputText form-control-file custom-file-input">
                                {{ form.profile_picture(class="form-control", id="fileInput") }}
                                <div class="selected-file" id="fileName">Selecione um arquivo</div>
                            </div>
                        </div>

                        <div class="form-group">
                            <span class="horizontalDynamic miniRLabel" ><i class="fa-solid fa-signature"></i>{{ form.username.label(class="labelPc form-control-label") }}</span>
                            {{ form.username(class="inputText", placeholder="Edite seu nome...") }}
                        </div>

                        

                        <div class="form-group">
                            <span class="horizontalDynamic miniRLabel" ><i class="fa-solid fa-key"></i>{{ form.password.label(class="labelPc form-control-label") }}</span>
                            {{ form.password(class="inputText", placeholder="Se quiser, crie uma nova senha...") }}
                        </div>

                        <div class="form-group">
                            <span class="horizontalDynamic miniRLabel" ><i class="fa-solid fa-key"></i>{{ form.confirm_password.label(class="labelPc form-control-label") }}</span>
                            {{ form.confirm_password(class="inputText", placeholder="Confirme...") }}
                        </div>
                        
                        <span class="discretDivider"></span>
                        
                        <div class="form-group">
                            <span class="horizontalDynamic miniRLabel" ><i class="fa-solid fa-key"></i>{{ form.current_password.label(class="labelPc form-control-label") }}</span>
                            {{ form.current_password(class="inputText", placeholder="Para aplicar, confirme sua senha...") }}
                        </div>

                        <button type="submit" class="btn btn-primary">Salvar alterações<i class="fa-solid fa-floppy-disk"></i></button>
                    </form>

                    <button class="discretBt miniBt" style="margin-top: 16px;" onclick="window.location.href='/' ">Voltar ao inicio <i class="fa-solid fa-house"></i></button>
                </div>
            </div>
        </div>
        <div class="centerView maxmax hideMob"></div>
    </div>
    <script src="static/scripts/utils.js"></script>
</body>
</html>
