<!-- templates/editar_perfil.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Profile</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h2>Edit Profile</h2>

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <ul class="list-group">
                    {% for category, message in messages %}
                        <li class="list-group-item list-group-item-{{ 'success' if category == 'success' else 'danger' }}">{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}

        <form method="post" action="/editar_perfil" enctype="multipart/form-data">
            {{ form.csrf_token }}
            <div class="form-group">
                {{ form.username.label(class="form-control-label") }}
                {{ form.username(class="form-control") }}
            </div>

            <div class="form-group">
                {{ form.current_password.label(class="form-control-label") }}
                {{ form.current_password(class="form-control") }}
            </div>

            <div class="form-group">
                {{ form.password.label(class="form-control-label") }}
                {{ form.password(class="form-control") }}
            </div>

            <div class="form-group">
                {{ form.confirm_password.label(class="form-control-label") }}
                {{ form.confirm_password(class="form-control") }}
            </div>

            <div class="form-group">
                <label for="current-profile-picture">Current Profile Picture:</label>
                <img src="data:image/jpeg;base64,{{ user_data.profile_picture }}" alt="Current Profile Picture" class="img-thumbnail">
            </div>

            <div class="form-group">
                {{ form.profile_picture.label(class="form-control-label") }}
                {{ form.profile_picture(class="form-control-file") }}
            </div>

            <button type="submit" class="btn btn-primary">Save Changes</button>
        </form>

        <p><a href="/">Back to Home</a></p>
    </div>
</body>
</html>
