<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bem-vindo</title>
    <link rel="icon" type="image/x-icon" href="static/source/favicon.png">
    <link href="static/styles/style.css" rel="stylesheet" type="text/css" />
</head>
<body class="defBack">

    <div class="todoView">
        <div class="centerView">
            
            <div class="fillSpace"></div>
            {% if profile_picture %}
                <img class="iconTitle" src="data:image/png;base64,{{ profile_picture }}" alt="Profile Picture" style="border-radius: 50%;">
            {% else %}
                <img class="iconTitle" src="static/source/AdaframeLogoWhite.png" style="margin-bottom: -16px;">
            {% endif %}
            
            {% if username %}
                <h1>Bem-vindo, {{ username.split(' ')[0] }}!</h1>
                <h2>Vamos continuar os trabalhos?</h2>
                <span class="discretDivider" style="width: 90% !important;"></span>
                <span class="horizontalDynamic">
                    <a href="/frames"><button class="pyBt">Vamos<i class="fa-solid fa-circle-arrow-right"></i></button></a>
                    <h6 style="margin: 8px; align-self: center;">Ou</h6>
                    <a href="/logout"><button class="discretBt">Sair<i class="fa-solid fa-right-from-bracket"></i></button></a>
                </span>
                <a href="/editar_perfil"><button class="discretBt">Seu perfil<i class="fa-solid fa-user-pen"></i></button></a>
            {% else %}
                <h1>Adafra.me</h1>
                <h2>Sua plataforma simplificada de gerenciamento de projetos</h2>
                <span class="discretDivider" style="width: 90% !important;"></span>
                <span class="horizontalDynamic">
                    <a href="/cadastro"><button class="pyBt">Cadastre-se!<i class="fa-solid fa-square-up-right"></i></button></a>
                    <h6 style="margin: 8px; align-self: center;">Ou</h6>
                    <a href="/login"><button class="discretBt">Entre<i class="fa-solid fa-right-to-bracket"></i></button></a>
                </span>
                
                <a href="/frames"><button class="discretBt">Continue sem entrar<i class="fa-solid fa-circle-arrow-right"></i></button></a>
            {% endif %}
            
            <span style="margin-top: 8px"></span>
            
            
            <div class="fillSpace"></div>
            <h6>© 2023 Adaframe BETA (0.3.1 cub) - <a href="https://sammahonri.com" target="_blank">Sam Mahonri</a> and Contributors</h6>
            <span class="rainbow"></span>
        </div>
    </div>

<!--- 
{% if username %}

    <h1>Bem-vindo, {{ username }}!</h1>
    {% if profile_picture %}
        <img src="data:image/png;base64,{{ profile_picture }}" alt="Profile Picture">
    {% else %}
        <p>Nenhuma foto de perfil disponível.</p>
    {% endif %}
    <div class="solitOpt">
        <a href="/logout">Sair</a>
        <a href="/editar_perfil">Editar perfil</a>
        <a href="/frames">Ir para seu espaço</a>
    </div>
    
{% else %}
    <p>Você não está logado. <a href="/login">Login</a></p>
{% endif %}
-->
</body>
</html>
